body {
    font-family: Arial, sans-serif;
    background-color: #fdfdfd;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 70%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.book-image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.text-content {
    text-align: left;
}

.highlight {
    color: orange;
}

.red-highlight {
    color: red;
    font-weight: bold;
}

.back-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.back-link:hover {
    background-color: #0056b3;
}
